@model PagedResult<Jobs>
@{
    Layout = "_layout";
}
<title>Find Jobs - Outsourcy</title>
<!--Page Title-->
<section class="page-title">
    <div class="auto-container">
        <div class="title-outer">
            <h1>Find Jobs</h1>
            <ul class="page-breadcrumb">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li>Jobs</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->
<!-- Listing Section -->
<section class="ls-section">
    <div class="auto-container">
        <div class="filters-backdrop"></div>

        <div class="row">

            <!-- Filters Column -->
            <div class="filters-column col-lg-4 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="filters-outer">
                        <button type="button" class="theme-btn close-filters">X</button>

                        <!-- Filter Block -->
                        <div class="filter-block">
                            <h4>Search by Keywords</h4>
                            <div class="form-group">
                                <input type="text" name="listing-search" placeholder="Job title, keywords, or company">
                                <span class="icon flaticon-search-3"></span>
                            </div>
                        </div>

                        <!-- Filter Block -->
                        <div class="filter-block">
                            <h4>Category</h4>
                            <div class="form-group">
                                <select class="chosen-select">
                                    <option>Choose a category</option>
                                    <option>Residential</option>
                                    <option>Commercial</option>
                                    <option>Industrial</option>
                                    <option>Apartments</option>
                                    <option>Residential</option>
                                    <option>Commercial</option>
                                    <option>Industrial</option>
                                    <option>Apartments</option>
                                    <option>Residential</option>
                                    <option>Commercial</option>
                                    <option>Industrial</option>
                                    <option>Apartments</option>
                                    <option>Residential</option>
                                    <option>Commercial</option>
                                    <option>Industrial</option>
                                    <option>Apartments</option>
                                </select>
                                <span class="icon flaticon-briefcase"></span>
                            </div>
                        </div>
                        <!-- Filter Block -->
                        <div class="filter-block">
                            <h4>Gender</h4>
                            <div class="form-group">
                                <select class="chosen-select">
                                    <option>Choose a category</option>
                                    <option>Male</option>
                                    <option>Female</option>
                                    <option>Both</option>
                                </select>
                                <span class="icon flaticon-briefcase"></span>
                            </div>
                        </div>
                        <!-- Filter Block -->
                        <div class="filter-block">
                            <h4>Location</h4>
                            <div class="form-group">
                                <input type="text" name="listing-search" placeholder="City or postcode">
                                <span class="icon flaticon-map-locator"></span>
                            </div>

                        </div>
                        <!-- Filter Block -->
                        <div class="filter-block">
                            <h4>Job type</h4>
                            <div class="form-group">
                                <select class="chosen-select">
                                    <option>Choose a Job Type</option>
                                    <option>Freelance</option>
                                    <option>Full Time</option>
                                    <option>Part Time</option>
                                </select>
                                <span class="icon flaticon-briefcase"></span>
                            </div>
                        </div>

                        <!-- Switchbox Outer  -->
                        <div class="switchbox-outer">
                            <h4>Experience Level</h4>
                            <ul class="switchbox">
                                <li>
                                    <label class="switch">
                                        <input type="checkbox" checked>
                                        <span class="slider round"></span>
                                        <span class="title">Fresh</span>
                                    </label>
                                </li>
                                <li>
                                    <label class="switch">
                                        <input type="checkbox">
                                        <span class="slider round"></span>
                                        <span class="title">from 1 : 3 Years</span>
                                    </label>
                                </li>
                                <li>
                                    <label class="switch">
                                        <input type="checkbox">
                                        <span class="slider round"></span>
                                        <span class="title">from 3:5 Years</span>
                                    </label>
                                </li>
                                <li>
                                    <label class="switch">
                                        <input type="checkbox">
                                        <span class="slider round"></span>
                                        <span class="title">from 5:7 Years</span>
                                    </label>
                                </li>
                                <li>
                                    <label class="switch">
                                        <input type="checkbox">
                                        <span class="slider round"></span>
                                        <span class="title">from 7:10 Years</span>
                                    </label>
                                </li>
                                <li>
                                    <label class="switch">
                                        <input type="checkbox">
                                        <span class="slider round"></span>
                                        <span class="title">+ 10 Years</span>
                                    </label>
                                </li>
                            </ul>

                        </div>
                        <!-- Switchbox Outer  -->
                        <div class="switchbox-outer">
                            <h4>Career Level</h4>
                            <ul class="switchbox">
                                <li>
                                    <label class="switch">
                                        <input type="checkbox" checked>
                                        <span class="slider round"></span>
                                        <span class="title">Manager</span>
                                    </label>
                                </li>
                                <li>
                                    <label class="switch">
                                        <input type="checkbox">
                                        <span class="slider round"></span>
                                        <span class="title">Officer</span>
                                    </label>
                                </li>
                                <li>
                                    <label class="switch">
                                        <input type="checkbox">
                                        <span class="slider round"></span>
                                        <span class="title">Student</span>
                                    </label>
                                </li>
                                <li>
                                    <label class="switch">
                                        <input type="checkbox">
                                        <span class="slider round"></span>
                                        <span class="title">Executive</span>
                                    </label>
                                </li>
                                <li>
                                    <label class="switch">
                                        <input type="checkbox">
                                        <span class="slider round"></span>
                                        <span class="title">Others</span>
                                    </label>
                                </li>
                            </ul>

                        </div>

                        <button type="button" class=" theme-btn btn-style-one d-block w-100 my-3">Find Jobs</button>

                    </div>

                </div>
                <!--  -->
                <div class="inner-column">
                    <div class="filters-outer">
                        <button type="button" class="theme-btn close-filters">X</button>

                        <!-- Filter Block -->
                        <div class="filter-block">
                            <h4>Job Alert</h4>
                            <div class="mb-3 w-100">
                                <label for="job-alert-title">Title</label>
                                <input type="text" class="px-3" name="job-alert-title" id="job-alert-title" placeholder="Title" required>

                            </div>
                            <!-- Filter Block -->
                            <div class="filter-block">
                                <div class="form-group">

                                    <select class="chosen-select px-3" id="email-freq" required>
                                        <option>Email Frequency</option>
                                        <option>Daily</option>
                                        <option>Weekly</option>
                                        <option>Fortnight</option>
                                        <option>Monthly</option>
                                    </select>
                                    <span class="icon flaticon-envelope"></span>
                                </div>
                            </div>
                        </div>
                        <button type="button" class=" theme-btn btn-style-one d-block w-100 my-3">Save Job Alert</button>
                    </div>

                </div>
            </div>

            <!-- Content Column -->
            <div class="content-column col-lg-8 col-md-12 col-sm-12">
                <div class="ls-outer">
                    <button type="button" class="theme-btn btn-style-two toggle-filters">Show Filters</button>

                    <!-- ls Switcher -->
                    <div class="ls-switcher">
                        <div class="showing-result">
                            <div class="text">Showing <strong>41-60</strong> of <strong>944</strong> jobs</div>
                        </div>
                        <div class="sort-by">
                            <select class="chosen-select">
                                <option>New Jobs</option>
                                <option>Freelance</option>
                                <option>Full Time</option>
                                <option>Internship</option>
                                <option>Part Time</option>
                                <option>Temporary</option>
                            </select>

                            <select onchange="changeSize()" id="selectedSize" class="chosen-select">
                                <option value="10">Show 10</option>
                                <option value="20">Show 20</option>
                                <option value="30">Show 30</option>
                                <option value="40">Show 40</option>
                                <option value="50">Show 50</option>
                                <option value="60">Show 60</option>
                            </select>
                        </div>
                    </div>


                    <!-- Job Block -->
                    <!-- Ready for work on it -->
                    @foreach (var job in Model.Data)
                    {
                        <div class="job-block">
                            <div class="inner-box">
                                <div class="content">
                                    <span class="company-logo">
                                        <img src="@string.Format("/Uploads/Images/{0}",job.imageUrl)" alt="" />

                                    </span>
                                    <h4><a asp-controller="Job" asp-action="JobDescription" asp-route-id="@job.Id">@job.title</a></h4>
                                    <ul class="job-info">
                                        <li><span class="icon flaticon-briefcase"></span> @job.kind?.kind</li>
                                        <li><span class="icon flaticon-map-locator"></span> @job.jobLocation</li>
                                        <li><span class="icon flaticon-clock-3"></span> @job.CreatedDate?.ToString("hh:mm:tt")</li>
                                        <li><span class="icon flaticon-money"></span> @job.salary $</li>
                                    </ul>
                                    <ul class="job-other-info">
                                        <li class="time">@job.type?.Type</li>
                                        <li class="privacy">@job.privacey?.privacey</li>
                                        <li class="required">@job.status?.status</li>
                                    </ul>
                                    @if (User?.Identity?.Name != null)
                                    {
                                        <button class="bookmark-btn"><span class="flaticon-bookmark"></span></button>
                                    }
                                </div>
                            </div>
                        </div>
                    }


                    <!-- Pagination -->
                    <nav class="ls-pagination">
                        <cs-pager cs-paging-pagesize="@Model.PageSize"
                                  cs-paging-pagenumber="@Model.PageNumber"
                                  cs-paging-totalitems="@Model.TotalItems"
                                  asp-controller="Job"
                                  asp-action="Jobs"
                                  cs-pager-li-current-class="current-page"
                                  cs-pager-link-current-class="current-page">
                        </cs-pager>
                    </nav>

                </div>
            </div>
        </div>
    </div>
</section>
<!--End Listing Page Section -->
